.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.image {
  width: 300px;
  heigth: auto;
}

li {
  width: 30%;
}

.site-nav__link {
  color: black;
  text-decoration: none;
}

.transaction-table {
  border: 1px solid black;
}
